@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

.container {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: rgb(255, 21, 69);
  text-shadow: -1px 0px 0px rgb(255 183 220);
  margin: 10px 0;
}
