@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

.container {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}
.title {
  color: rgb(255, 21, 69);
  text-shadow: -1px 0px 0px rgb(255 183 220);
  margin: 10px 0;
}

.title.job {
  font-size: 90px;
}

@media screen and (max-width: 700px) {
  .title.job {
    font-size: 80px;
  }

  .title {
    margin: 0;
  }
}

.title.name {
  margin-bottom: 40px;
  margin-top: 60px;
}
