.container-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  background-color: white;
  width: 1080px;
  width: calc(100%-240px);
}
