.switch-container {
}

label {
  display: flex;
  width: 50px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

label i {
  font-size: 18px;
}
label .fa-sun {
  color: gold;
  transition: 0.4s ease-in-out;
  opacity: 1;
}
label .fa-moon {
  color: #fff;
  opacity: 0;
  transform: translateX(32px);
  transition: 0.4s ease-in-out;
}

label .ball {
  display: none;
}

label .fa-sun.active {
  transform: translateX(-32px);
  opacity: 0;
}
label .fa-moon.active {
  transform: translateX(0);
  opacity: 1;
}
label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.labele.active {
  background: #c0c0c0;
  transition: 0.2s ease-in-out;
}

label .ball.active {
  transform: translateX(29px);
  background: #222;
  opacity: 1;
}
